body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 29, 29);
}

#container {
    background-color: white;
    display: flex;
    border: 4px solid rgb(49, 49, 49);
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.lines {
    border: 1px solid rgb(182, 182, 182);
}

.block {
    width: 62px;
    height: 62px;
}

.slideContainer {
    margin-top: 5%;
    width: 100%;
    color: white;
}

.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: gray;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    cursor: progress;
}

.options {
    display: flex;
    gap: 5px;
    align-items: stretch;
}

.customize {
    border: 3px solid rgb(43, 43, 43);
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    color: rgb(180, 128, 128);
    font-size: 15px;
    width: 60px;
    height: 65px;
    text-align: center;
}

#colorChange,
#bgChange {
    padding: 0px;
    border-width: 0px;
    background-color: rgb(49, 49, 49);
}

#gridLines {
    height: 71px;
}

